<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Welcome to official website of Raj Das. A web developer, mysql database handler, core javascript developer along with nodejs.">
      <meta name="keyboard" content="Raj Das,ng,Das,Raj, raj babu, raj das delhi, RajDas.me, Raj.me, Das.me, rajdas.in, raj babu das, raj das bhubaneswar,rajdas kiit">
      <meta name="author" content="RajDas">
    <title>Raj Das - Web Developer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      {{{body}}}
  <script src="/javascripts/modernizr.js"></script>
  <script src="javascripts/snap.svg-min.js"></script>
    <script src="/javascripts/jquery-min.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/handlebars.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
